.non-active-nav{
    ul{
        display: flex;
        li{
            list-style: none;
            a{
                text-decoration: none;
                margin: 0 14px;
                font-size: 1em;
            }
        }
    }

    .list-label{
        display: none;
    }
    
}

.navigation{
    min-height: 10vh;
    width: 90%;
    margin: 0 5%;
    border-bottom: 1px solid #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    h1{
        a{
            font-size: 20px;
        }
    }
}

.hamburger-ul{
    display: none;
}

[aria-current="page"]{
    border-bottom: 4px solid #ffca00;
    // padding: 4px;
    color: #ffca00 !important;
}